li p {
    margin: 0;
}

main img {
    max-width: 100%;
    display: block;
    width: auto;
    margin: auto;
}

footer {
    text-align: center;
}

li > a.tag-link {
    border: none;
}

a.tag-link {
    border: 1px solid black;
    border-radius: .5ex;
    padding: .2ex .7ex;
    white-space: nowrap;
    line-height: 3.5ex;
}

h1 {
    font-size: 2.0em;
    padding-bottom: 10px;
    border-bottom: 1px solid #BBB;
}

h2 {
    font-size: 1.8em;
}

/* CollapsibleLists */
.collapsibleList li {
    cursor: auto;
}

li.collapsibleListOpen, li.collapsibleListClosed {
    cursor: pointer;
    padding-left: 1ex;
}
li.collapsibleListOpen:before {
    content: "[−]";
    font-weight: bold;
    color: rgb(150, 60, 60);
}

li.collapsibleListClosed:before {
    content: "[+]";
    font-weight: bold;
    color: rgb(60, 150, 60);
}

input[type="submit"], input[type="reset"], button, body input.gsc-search-button, body .cse input.gsc-search-button {
    color: black;
	background: #DDD;
	border-radius: 3.6px;
    border: none;
    height: auto;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-stretch: normal;
	font-style: normal;
	font-weight: 300;
	line-height: 29.7px;
    cursor: pointer;
	display: inline;
	margin-bottom: 18px;
	margin-right: 7.2px;
	padding: 6.525px 23.4px;
	text-align: center;
}

input[type="submit"]:hover, input[type="reset"]:hover, button:hover, body input.gsc-search-button:hover, body .cse input.gsc-search-button:hover {
	background: #9C9;
}

@media screen and (max-width: 767px) {
    body {
        padding: 0;
    }
    body > main {
        padding: 0;
        margin: 0;
        width: auto;
    }
    main article {
        padding: 1em;
        margin: 0;
        border: none;
    }
    nav {
        width: 100%;
        background: black;
        height: auto;
        position: relative;
    }
    nav ul li {
        margin: 6px 0;
        padding: 2px 0;
        display: block;
        background: #555;
    }
    nav ul li:first-child {
        background: black;
    }
    #nav-trigger:checked ~ ul li {
        display: none;
    }
    #nav-trigger:checked ~ ul li:first-child {
        display: block;
    }
    nav ul li:first-child a {
        text-align: left;
    }
    nav ul li a {
        display: block;
        text-align: center;
    }

    label[for="nav-trigger"] {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 2;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    label[for="nav-trigger"]:before {
        content: "";
        position: absolute;
        left: 0;
        width: 50px;
        height: 8px;
        background: white;
        box-shadow:
            0 15px 0 0 white,
            0 30px 0 0 white;
    }
}

@media screen and (min-width: 768px) {
    label[for="nav-trigger"] {
        display: none;
    }
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
