li p {
    margin: 0;
}

nav > form {
    display: inline;
}

nav > form * {
    display: inline;
}

nav > ul > li:nth-child(1) {
    font-size: 1.2em;
}

img {
    max-width: 100%;
}

footer {
    text-align: center;
}

a.tag-link {
    border: 1px solid black;
    border-radius: .5ex;
    padding: .2ex .7ex;
    white-space: nowrap;
    line-height: 3.5ex;
}

a.tag-hot:before, a.tag-hot:after {
    font-weight: normal;
    content: ' 🔥 ';
    color: red;
}

a.tag-hot {
    font-weight: bold;
    text-transform: capitalize;
}
