@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.minipage {
    font-family: 'Ubuntu', sans-serif;
    width: 850px;
    height: 1100px;
    background-color: white;
    position: relative;
    padding: 50px;
}

.banner {
    position: absolute;
    top: 50px;
    left: 125px;
}

.location-time {
    font-size: 40px;
    position: absolute;
    top: 310px;
    left: 50px;
    right: 50px;
    text-align: center;
    font-weight: 300;
}

.website-link {
    font-size: 1.5em;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 980px;
}

.talks {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 375px;
    font-size: 1.2em;
    line-height: 1.5em;
}

.talks time {
    position: relative;
    font-size: 35px;
    top: -51px;
    float: right;
}

div.talk-abstract p {
    line-height: 1.5em;
}
