{{ partial "header.html" . }}

<article class="container">
  <div class="row">
    <div class="col-md-9">
      <article class="">
        {{ range .Data.Pages }}
            {{if eq .Title "index" }}
                {{.Content}}
            {{end}}
        {{ end }}
        {{ range .Data.Pages }}
            {{if eq .Type "home-section" }}
                {{.Content}}
            {{end}}
        {{ end }}
      </article>

      <article class="pdf">
        <h3>More info:</h3>
        <iframe src="https://drive.google.com/file/d/0B7NMPtGzW3RTakJkU3BQZll6MGc/preview" width="100%" height="800px"></iframe>
      </article>

    </div>
  </div>
</article>

{{ partial "footer.html" . }}