nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background: black;
    padding: 10px;
}
nav ul {
    margin: 0;
}
nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}
nav ul li.current {
    border-bottom: 2px solid lightskyblue;
}
nav ul li a {
    color: rgb(200, 200, 200);
    font-size: 20px;
}
nav ul li a:hover {
    color: white;
}
body > section {
    margin-top: 70px;
}

li p {
    margin: 0;
}

img {
    max-width: 100%;
}

footer {
    text-align: center;
}

li > a.tag-link {
    border: none;
}

a.tag-link {
    border: 1px solid black;
    border-radius: .5ex;
    padding: .2ex .7ex;
    white-space: nowrap;
    line-height: 3.5ex;
}

a.tag-hot:before, a.tag-hot:after {
    font-weight: normal;
    color: red;
}

a.tag-hot:before {
    content: '🔥 ';
}

a.tag-hot:after {
    content: ' 🔥';
}

a.tag-hot {
    font-weight: bold;
    text-transform: capitalize;
}

h1 {
    font-size: 2.0em;
    padding-bottom: 10px;
    border-bottom: 1px solid #BBB;
}

h2 {
    font-size: 1.8em;
}

/* CollapsibleLists */
.collapsibleList li {
    cursor: auto;
}

li.collapsibleListOpen, li.collapsibleListClosed {
    cursor: pointer;
    padding-left: 1ex;
}
li.collapsibleListOpen:before {
    content: "[−]";
    font-weight: bold;
    color: rgb(150, 60, 60);
}

li.collapsibleListClosed:before {
    content: "[+]";
    font-weight: bold;
    color: rgb(60, 150, 60);
}

textarea {
    box-sizing: border-box;
    width: 100%;
}

input[type="submit"], input[type="reset"], button, body input.gsc-search-button, body .cse input.gsc-search-button {
    color: black;
	background: #DDD;
	border-radius: 3.6px;
    border: none;
    height: auto;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-stretch: normal;
	font-style: normal;
	font-weight: 300;
	line-height: 29.7px;
    cursor: pointer;
	display: inline;
	margin-bottom: 18px;
	margin-right: 7.2px;
	padding: 6.525px 23.4px;
	text-align: center;
}

input[type="submit"]:hover, input[type="reset"]:hover, button:hover, body input.gsc-search-button:hover, body .cse input.gsc-search-button:hover {
	background: #9C9;
}

input[type="text"].wide {
    box-sizing: border-box;
    width: 100%;
}

@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }
    body > section {
        padding: 1em;
        margin: 0;
        border: none;
    }
    nav {
        width: 100%;
        background: black;
        height: auto;
        position: relative;
    }
    nav ul li {
        margin: 6px 0;
        padding: 2px 0;
        display: block;
        background: #555;
    }
    nav ul li:first-child {
        background: black;
        display: block;
    }
    nav ul li:first-child a {
        text-align: left;
    }
    nav ul li a {
        display: block;
        text-align: center;
    }
}
