@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.minipage {
    font-family: 'Ubuntu', sans-serif;
    width: 850px;
    height: 1100px;
    position: relative;
    padding: 50px;
    background: url("/images/seminars-poster-blank.png");
    background-size: cover;
}

.banner {
    display: none;
    position: absolute;
    top: 50px;
    left: 125px;
}

.location-time {
    font-size: 45px;
    position: absolute;
    top: 400px;
    left: 50px;
    right: 50px;
    text-align: center;
    font-weight: bold;
}

.website-link {
    display: none;
    font-size: 1.5em;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 980px;
}

.talks {
    position: absolute;
    left: 80px;
    right: 80px;
    top: 470px;
    font-size: 1.7em;
    line-height: 1.5em;
    text-align: right;
}

.talks h2 {
    font-size: 1.6em;
    line-height: 1.2em;
}

.talks > h2:nth-child(1) {
    color: #8100B4;
}

.talks > h2:nth-child(5) {
    margin-top: .5em;
    color: #0073CE;
}

.talks time:after {
    content: ' ';
}

.talks p {
    display: inline;
}

div.talk-abstract {
    display: none;
}

div.talk-abstract p {
    line-height: 1.5em;
}
